@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

html,body,#root,.app{
     height: 100%;
     width: 100%;
     font-family: 'Rubik',sans-serif;
     /* background: black;
   background: -moz-linear-gradient(left, black 0%, black 100%);
   background: -webkit-linear-gradient(left, black 0%, black 100%);
   background: linear-gradient(to right, black 0%, black 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0000', endColorstr='#0000',GradientType=1); */
}
/* body:before {
     content: '';
     display: block;
     width: 0;
     height: 0;
     border-style: solid;
     border-width: 0 0 100vh 100vw;
     border-color: transparent transparent #fff transparent;
     z-index: 2; } */

